<script>
    window.onload = function() {
    setTimeout(function() {
    let script = document.createElement("script");
    script.setAttribute("async", "");
    script.src = "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js";
    document.body.appendChild(script);
    }, 2e3);
    setTimeout(function() {
    let script = document.createElement("script");
    script.setAttribute("async", "");
    script.src = "//cdn.jsdelivr.net/npm/@waline/client";
    document.body.appendChild(script);
    }, 2e3);
    }
</script>   