<!-- Copy this file into your repository/layouts/partials and modify it -->
<!-- adsence -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5119110505518983"
        crossorigin="anonymous"></script>
<!-- waline cdn -->
<script src="//cdn.jsdelivr.net/npm/@waline/client"></script>
<!-- baidutongji -->
<script>
     var _hmt = _hmt || [];
     (function() {
       var hm = document.createElement("script");
       hm.src = "https://hm.baidu.com/hm.js?e7f8c049af83ea928de24d5a2028ec58";
       var s = document.getElementsByTagName("script")[0]; 
       s.parentNode.insertBefore(hm, s);
     })();
     </script>

<!-- Everything here will be added to the end of the <head> tag on every page -->
