{{ partial "header.html" . }}

<div id="main">
  <div id="content">
    <div>
      <article class="hentry" role="article">

        {{ .Scratch.Set "isHome" false }}
        {{ partial "post_header.html" . }}

        <div class="entry-content">
          <!-- insert table of contents if it is set either in the config file or in the frontmatter - frontmatter has priority -->
          {{ $.Scratch.Set "pagetoc" .TableOfContents }}
          {{ if or (and (isset .Params "toc") (eq .Params.toc true)) (and (not (isset .Params "toc")) (eq .Site.Params.tableOfContents true)) }}
            {{ $.Scratch.Get "pagetoc" }}
          {{ end }}
          {{ .Content }}
        </div>
        {{ partial "post_footer.html" . }}
      </article>
    </div>
    {{ partial "sidebar.html" . }}
  </div>
</div>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5119110505518983"
     crossorigin="anonymous"></script>
<!-- 自适应广告 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5119110505518983"
     data-ad-slot="8083277411"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?e7f8c049af83ea928de24d5a2028ec58";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

{{ partial "footer.html" . }}
